In [220]:
import cx_Oracle
import csv
import os

In [221]:
os.environ['NLS_LANG'] = '.AL32UTF8'
db = cx_Oracle.connect('user_1', 'pwd', '52.50.54.24:1521/ORCL', encoding='utf-8')
print('Oracle DB server version %s' % db.version)

Oracle DB server version 12.1.0.2.0

In [222]:
cursor = db.cursor()

In [226]:
create_companies = ('CREATE TABLE companies ('
                    'permalink NVARCHAR2(120),'
                    'name NVARCHAR2(80),'
                    'homepage_url VARCHAR(120),'
                    'category_list VARCHAR(350),'
                    'funding_total_usd NUMBER(12,0),'
                    'status VARCHAR(15),'
                    'country_code CHAR(3),'
                    'state_code VARCHAR(2),'
                    'region VARCHAR(40),'
                    'city VARCHAR(40),'
                    'funding_rounds NUMBER(3,0),'
                    'founded_at DATE,'
                    'first_funding_at DATE,'
                    'last_funding_at DATE)')
cursor.execute(create_companies)

In [227]:
insert_companies = ('INSERT INTO companies (permalink, name, homepage_url, category_list, funding_total_usd, status, country_code, state_code, region, city, funding_rounds, founded_at, first_funding_at, last_funding_at) '
                    'VALUES ( :permalink, :name, :homepage_url, :category_list, :funding_total_usd, :status, :country_code, :state_code, :region, :city, :funding_rounds, TO_DATE(:founded_at, \'YYYY-MM-DD\'), TO_DATE(:first_funding_at, \'YYYY-MM-DD\'), TO_DATE(:last_funding_at, \'YYYY-MM-DD\'))')

with open('part1/companies.csv', encoding='utf-8') as companies_file:
    reader = csv.DictReader(companies_file)
    for row in reader:
        if row['funding_total_usd']=='-':
            row['funding_total_usd']=''
        cursor.execute(insert_companies, row)

DatabaseError: ORA-12899: value too large for column "USER_1"."COMPANIES"."NAME" (actual: 66, maximum: 60)

In [216]:
for i, r in enumerate(cursor.execute('select * from companies')):
    print(r)
    if(i > 10):
        break

('/organization/-fame', '#fame', 'http://livfame.com', 'Media', 10000000, 'operating', 'IND', '16', 'Mumbai', 'Mumbai', 1, None, datetime.datetime(2015, 1, 5, 0, 0), datetime.datetime(2015, 1, 5, 0, 0))
('/organization/-qounter', ':Qounter', 'http://www.qounter.com', 'Application Platforms|Real Time|Social Network Media', 700000, 'operating', 'USA', 'DE', 'DE - Other', 'Delaware City', 2, datetime.datetime(2014, 9, 4, 0, 0), datetime.datetime(2014, 3, 1, 0, 0), datetime.datetime(2014, 10, 14, 0, 0))
('/organization/-the-one-of-them-inc-', '(THE) ONE of THEM,Inc.', 'http://oneofthem.jp', 'Apps|Games|Mobile', 3406878, 'operating', None, None, None, None, 1, None, datetime.datetime(2014, 1, 30, 0, 0), datetime.datetime(2014, 1, 30, 0, 0))
('/organization/0-6-com', '0-6.com', 'http://www.0-6.com', 'Curated Web', 2000000, 'operating', 'CHN', '22', 'Beijing', 'Beijing', 1, datetime.datetime(2007, 1, 1, 0, 0), datetime.datetime(2008, 3, 19, 0, 0), datetime.datetime(2008, 3, 19, 0, 0))
('/organization/004-technologies', '004 Technologies', 'http://004gmbh.de/en/004-interact', 'Software', None, 'operating', 'USA', 'IL', 'Springfield, Illinois', 'Champaign', 1, datetime.datetime(2010, 1, 1, 0, 0), datetime.datetime(2014, 7, 24, 0, 0), datetime.datetime(2014, 7, 24, 0, 0))
('/organization/01games-technology', '01Games Technology', 'http://www.01games.hk/', 'Games', 41250, 'operating', 'HKG', None, 'Hong Kong', 'Hong Kong', 1, None, datetime.datetime(2014, 7, 1, 0, 0), datetime.datetime(2014, 7, 1, 0, 0))
('/organization/0ndine-biomedical-inc', 'Ondine Biomedical Inc.', 'http://ondinebio.com', 'Biotechnology', 762851, 'operating', 'CAN', 'BC', 'Vancouver', 'Vancouver', 2, datetime.datetime(1997, 1, 1, 0, 0), datetime.datetime(2009, 9, 11, 0, 0), datetime.datetime(2009, 12, 21, 0, 0))
('/organization/0xdata', 'H2O.ai', 'http://h2o.ai/', 'Analytics', 33600000, 'operating', 'USA', 'CA', 'SF Bay Area', 'Mountain View', 4, datetime.datetime(2011, 1, 1, 0, 0), datetime.datetime(2013, 1, 3, 0, 0), datetime.datetime(2015, 11, 9, 0, 0))
('/organization/1', 'One Inc.', 'http://whatis1.com', 'Mobile', 1150050, 'operating', 'USA', 'CA', 'SF Bay Area', 'San Francisco', 3, datetime.datetime(2011, 8, 1, 0, 0), datetime.datetime(2011, 7, 20, 0, 0), datetime.datetime(2014, 2, 5, 0, 0))
('/organization/1-2-3-listo', '1,2,3 Listo', 'http://www.123listo.com', 'E-Commerce', 40000, 'operating', 'CHL', '12', 'Santiago', 'Las Condes', 1, datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2013, 2, 18, 0, 0), datetime.datetime(2013, 2, 18, 0, 0))
('/organization/1-4-all', '1-4 All', None, 'Entertainment|Games|Software', None, 'operating', 'USA', 'NC', 'NC - Other', 'Connellys Springs', 1, None, datetime.datetime(2013, 4, 21, 0, 0), datetime.datetime(2013, 4, 21, 0, 0))
('/organization/1-618-technology', '1.618 Technology', 'http://www.Homeandcondogallery.com', 'Networking|Real Estate|Web Hosting', None, 'operating', 'USA', 'FL', 'Orlando', 'Orlando', 1, datetime.datetime(2013, 12, 7, 0, 0), datetime.datetime(2014, 1, 22, 0, 0), datetime.datetime(2014, 1, 22, 0, 0))

In [128]:
for r in cursor.execute('select * from nls_session_parameters'):
    print(r)

('NLS_LANGUAGE', 'AMERICAN')
('NLS_TERRITORY', 'AMERICA')
('NLS_CURRENCY', '$')
('NLS_ISO_CURRENCY', 'AMERICA')
('NLS_NUMERIC_CHARACTERS', '.,')
('NLS_CALENDAR', 'GREGORIAN')
('NLS_DATE_FORMAT', 'DD-MON-RR')
('NLS_DATE_LANGUAGE', 'AMERICAN')
('NLS_SORT', 'BINARY')
('NLS_TIME_FORMAT', 'HH.MI.SSXFF AM')
('NLS_TIMESTAMP_FORMAT', 'DD-MON-RR HH.MI.SSXFF AM')
('NLS_TIME_TZ_FORMAT', 'HH.MI.SSXFF AM TZR')
('NLS_TIMESTAMP_TZ_FORMAT', 'DD-MON-RR HH.MI.SSXFF AM TZR')
('NLS_DUAL_CURRENCY', '$')
('NLS_COMP', 'BINARY')
('NLS_LENGTH_SEMANTICS', 'BYTE')
('NLS_NCHAR_CONV_EXCP', 'FALSE')

In [129]:
for r in cursor.execute('select * from nls_database_parameters'):
    print(r)

('NLS_RDBMS_VERSION', '12.1.0.2.0')
('NLS_NCHAR_CONV_EXCP', 'FALSE')
('NLS_LENGTH_SEMANTICS', 'BYTE')
('NLS_COMP', 'BINARY')
('NLS_DUAL_CURRENCY', '$')
('NLS_TIMESTAMP_TZ_FORMAT', 'DD-MON-RR HH.MI.SSXFF AM TZR')
('NLS_TIME_TZ_FORMAT', 'HH.MI.SSXFF AM TZR')
('NLS_TIMESTAMP_FORMAT', 'DD-MON-RR HH.MI.SSXFF AM')
('NLS_TIME_FORMAT', 'HH.MI.SSXFF AM')
('NLS_SORT', 'BINARY')
('NLS_DATE_LANGUAGE', 'AMERICAN')
('NLS_DATE_FORMAT', 'DD-MON-RR')
('NLS_CALENDAR', 'GREGORIAN')
('NLS_NUMERIC_CHARACTERS', '.,')
('NLS_NCHAR_CHARACTERSET', 'AL16UTF16')
('NLS_CHARACTERSET', 'WE8MSWIN1252')
('NLS_ISO_CURRENCY', 'AMERICA')
('NLS_CURRENCY', '$')
('NLS_TERRITORY', 'AMERICA')
('NLS_LANGUAGE', 'AMERICAN')

In [130]:
for r in cursor.execute('SELECT USERENV (\'language\') FROM DUAL'):
    print(r)

('AMERICAN_AMERICA.WE8MSWIN1252',)

In [ ]:
create_acquisitions = ('CREATE TABLE acquisitions ('
                       'company_permalink VARCHAR(30),'
                       'company_name VARCHAR(20),'
                       'company_category_list VARCHAR(50),'
                       'company_country_code CHAR(3),'
                       'company_state_code VARCHAR(2),'
                       'company_region VARCHAR(15),'
                       'company_city VARCHAR(15),'
                       'acquirer_permalink VARCHAR(30),'
                       'acquirer_name VARCHAR(20),'
                       'acquirer_category_list VARCHAR(50),'
                       'acquirer_country_code CHAR(3),'
                       'acquirer_state_code VARCHAR(2),'
                       'acquirer_region VARCHAR(15),'
                       'acquirer_city VARCHAR(15),'
                       'acquired_at DATE,'
                       'acquired_month DATE,'
                       'price_amount NUMBER(12,0),'
                       'price_currency_code CHAR(3))')
cursor.execute(create_acquisitions)

In [228]:
drop_companies = ('DROP TABLE companies')
cursor.execute(drop_companies)

In [218]:
drop_acquisitions = ('DROP TABLE acquisitions')
cursor.execute(drop_acquisitions)

DatabaseError: ORA-00942: table or view does not exist

In [219]:
cursor.close()
db.close()